version: '3'

services:
  redis:
    image: redis:alpine
    container_name: redis-srv
    restart: always
    expose:
      - 6379
    volumes:
      - ./data/redis:/data
      - ./data/redis/redis.conf:/usr/local/etc/redis/redis.conf
    environment:
      - REDIS_REPLICATION_MODE=master
    networks:
      - cqt-net
    entrypoint: redis-server #/usr/local/etc/redis/redis.conf
    ports:
      - "6379:6379"

  redis-commander:
    image: rediscommander/redis-commander:latest
    container_name: redis-commander-web
    hostname: redis-commander
    restart: always
    depends_on:
      - redis
    environment:
      - REDIS_HOSTS=local:redis:6379
    networks:
      - cqt-net
    ports:
      - "8081:8081"
  
  node:
    image: trufflesuite/ganache-cli:v6.12.2
    container_name: ganache-cli
    restart: always
    volumes:
      - ./ganache_data:/ganache_data
    entrypoint:
      - node
      - /app/ganache-core.docker.cli.js
      - --deterministic
      - --db=/ganache_data
      - --mnemonic
      - 'minimum symptom minute gloom tragic situate silver mechanic salad amused elite beef'
      - --networkId
      - '5777'
      - --hostname
      - '0.0.0.0'
    depends_on:
      - redis-commander
    networks:
      - cqt-net
    ports:
      - "8545:8545"

  cqt-virtnet:
    image: "ghcr.io/covalenthq/cqt-virtnet:latest"
    container_name: proof-chain
    restart:  always
    expose:
      - 8008
    entrypoint: >
     /bin/bash -l -c "
      truffle migrate --network docker;
      nc -v agent 8008;
      sleep 100000;"
    depends_on:
      - node
    networks:
      - cqt-net
    environment:
        npm_config_user: "root"
    ports:
      - "8008:8008"

  agent:
    container_name: bsp-agent
    links:
      - "cqt-virtnet:proof-chain"
    build:
      context: .
      dockerfile: Dockerfile
    restart: on-failure
    depends_on:
      cqt-virtnet:
        condition: service_started
    entrypoint: >
      /bin/bash -l -c "
        echo Waiting for proof-chain to be deployed...;
        while ! nc -v -l -k -p 8008;
        do
        sleep 1;
        done;
        echo proof-chain contracts deployed!;
        ./entry.sh;
        exit 0;"
    environment:
      - MB_PRIVATE_KEY=${PRIVATE_KEY}
      - MB_RPC_URL=${RPC_URL}
      - BLOCKCHAIN=${BLOCKCHAIN}
    networks:
      - cqt-net
    ports:
      - "8080:8080"

networks:
  cqt-net:
